<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
	<targets async="true">
		<target xsi:type="File" name="LogFile" fileName="${basedir}/logs/${shortdate}.metadata-service.log"
            layout="${longdate} ${uppercase:${level}} | User:[${aspnet-user-identity}] | ${message} ${exception:format=tostring} "/>
 		<target name="aws" type="AWSTarget" logGroup="Microservices" region="us-west-1"/>
		<target xsi:type="ColoredConsole"
        name="ColoredConsole"
        layout="${longdate} ${uppercase:${level}} ${message}"
        header="Start"
        footer="End"
        useDefaultRowHighlightingRules="true"
        errorStream="false">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="LogFile" />
		<logger name="*" levels="Error" writeTo="LogFile" />
		 <logger name="*" minlevel="Trace" writeTo="aws" />
		 <!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>

</nlog>